<!DOCTYPE html>
<html>
<head>
  <title>Irb</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= csrf_meta_tag %>
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
</head>
<body>

<%= yield %>

</body>
</html>
